* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7FFFD4
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 600px;
	border: 1px solid black;
	box-sizing: content-box;
}

.cell {
	width: 60px;
	height: 60px;
	border: 1px solid black;
	cursor: pointer;
}

.clicked {
	background-color: rgb(182, 151, 49);
}