.logo {
    width: 80px;
}

.bkg_aqua {
    background-color: #7FFFD4;
}

.content {
    padding: 80px 0;
}

.grid {
    width: 600px;
	border: 1px solid rgb(0, 0, 0);
	box-sizing: content-box;
}

.cell {
	width: 60px;
	height: 60px;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.clicked {
	background-color: rgb(182, 151, 49);
}