.logo {
    width: 80px;
}

.bkg_aqua {
    background-color: #7FFFD4;
}

.content {
    padding: 80px 0;
}

.form-select {
    border: solid 2px rgb(148, 144, 144);
    margin-inline: 1rem;
}

.grid {
    width: 600px;
    height: 600px;
	box-sizing: content-box;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
	width: 60px;
	height: 60px;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.clicked {
	background-color: rgb(40, 73, 223);
}